<h1>Welcome to the ToDo App</h1>

<%= link_to "Create new list", new_list_path %>

<ul>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list %> - <%= list.description %>
<%= form_for list, method: :delete do |form| %>
<%= form.submit "Delete list" %></li>
  <% end %>
<% end %>
